html {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation: ubah-backgroun 5s infinite linear;
}
.container {
  position: relative;
  width: 150px;
  height: 150px;
}
.moon,
.sun {
  position: absolute;
  width: 150px;
  height: 150px;
  /* border-radius: 50%; */
}
/* .moon {
  background: black; */
}
/* .sun {
  background: yellow;
} */
